.card {
    background: #202020;
    color: #F2F2F2;
    padding: 20px;
    height: 100%;
    display: block;
}

h2 {
    font-weight: 500;
    color:burlywood;
}

.bg-red {
    background: darkred;
}

.bg-green {
    background: darkgreen;
}